<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h2>LUV2CODE Company homepage</h2>
    <hr>
    <p>Welcome to the luv2code company homepage</p>

    <p>
        User: <span sec:authentication="principal.username"></span>
    </p>
    <br><br>
    <p>
        Role(s): <span sec:authentication="principal.authorities"> </span>
    </p>

    <hr>
        <div sec:authorize="hasRole('MANAGER')">
            <p>
                <a href="#" th:href="@{/leaders}">Leadership Meeting</a>
                (Only for manager peeps)
            </p>
        </div>
        
        <div sec:authorize="hasRole('ADMIN')">    
            <p>
                <a href="#" th:href="@{/systems}">IT Systems Meeting</a>
                (Only for admins)
            </p>
        </div>
    <hr>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</body>
</html>