<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUV2CODE Leaders Homepage</title>
</head>
<body>
    
    <h2>
        LUV2CODE Leaders Homepage
    </h2>

    <hr>

    <p>
        See you in Brazil ... for annual Leadership retreat! 
        <br>
        Keep this a secret, don't tell the regular employees LOL :-)
    </p>

    <hr>

    <a href="#" th:href="@{/}"> Back to homepage </a>
</body>
</html>